*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  
    
}
body{
    background-color: #feefcd;
}
/**
 *
 *  HEADER
 * -------------------------------------------------------------------
 */
.header{
    display: flex;
    background-color: #ffdc92;
    height: 60px;
    justify-content: space-between;
    border: solid 2.5px black;
    margin-bottom:40px;
    padding: 10px;
}
.header__logo{
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    background-color: #ffdc92;
}
.header__marcaTitulo{
    max-width: 20px;
   display: flex;
   align-items: center;   
   background-color: #ffdc92;
}
.header .header__logo:hover{
    transform: scale(1.2) 
}
.nav__elements{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: solid black 2px;
    background-color: #ffdc92;
    max-width: 500px;
}
.nav__elements-element{
    border: solid 1.5px black;
    border-bottom: 0px;
    height: 40px;
    text-align:center;
    padding: 15px 10px 0px 10px;
    margin-top: 18px;
    border-radius: 10px 10px 0px 0px;
    width: 150px;
    text-decoration:none;
    background-color: #c0d85c;
    color: black;
}
.activo{
    background-color: #fea4c7;
}
.header__elements-element-inicio :active{
    background-color: #fea4c7;
}
.header__elements-element:target{
    background-color: #fea4c7 ;
}
.fa-shopping-bag{
   display: flex;
   align-items: center;
   margin-right: 20px;
   font-size: 40px;
   background-color: #ffdc92;
}
/**
 *
 *  SECTION INICIO
 * -------------------------------------------------------------------
 */
#inicio{
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content:space-evenly;
    margin-top: 77px;
}
.inicio__PrimerMitad{
    position: relative;
}
.inicio__titulo{
    display:inline-block; 
    font-size: 35px;
    text-align: left;
    position: relative;
    line-height: 80px;
    font-weight: bold;
    max-width: 625px;
}
.inicio__rectanguloRosa{
    display: flex;
    position: absolute;
    top: 80px;
    left: 375px;
    width: 200px;
    height: 60px;
    background-color: #fea4c7;
    border: solid black 3px;
}
.inicio__efecto-ig{
    background-color: #f5f5f5;
    width: 605px;
    height: 450px;
    border: solid black 2px;
    
}
.inicio__imagen{
    margin: 0px;
    display: flex;
    width: 100%;
    
}
.fa-heart{
    align-items: end;
    font-size: 30px;
    background-color: #f5f5f5;
    padding-top: 9px;
    margin-left: 480px;
}
.fa-play{
font-size: 20px;

padding: 9px;
background-color: #f5f5f5;
}
.fa-stop{
    font-size: 20px;
    background-color: #f5f5f5;
}


.inicio__segundaMitad{
    display: flex;
    padding-left: 20px;
}
.inicio__segundaMitad-columna1--sobreGroovis{
    font-size: 18px;
    border: solid black 2px;
    display: flex;
    background-color: #ffdc92 ;
    height: 65%;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.inicio__segundaMitad-columna2{
 max-width: 500px;
 margin-left: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 
}
.inicio__segundaMitad-columna2--texto{
    font-weight:400;
    text-align:left;
}
.inicio__segundaMitad-columnas--img{
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 250px;
}
.inicio__segundaMitad--sobreNosotros{
    font-size: 18px;
    background-color: #c0d85c;
    border: solid black 2px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:400;
}
.rectanguloRosa{
    background-color: #ffa5c9;
    border: solid 2px black;
    width: 80vw;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 102px;
    display: flex;
}
footer{
    width: 100%;  
    background-color:#ffdc92 ;
    border: solid 1.5px black;
    display: flex;
    align-items: center;
}

/**
 *
 *  SECTION PRODUCTOS
 * -------------------------------------------------------------------
 */
 
 .inicioProductos{
    display: flex;
    justify-content: center;
}
 .inicioProductos__imagen{
    width: auto;
    height: auto;
    max-height: 250px;
    max-width: 250px;
    
 }
 .inicioProductos__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;

 }
 .rectangulos{
    display: flex;
    
 }
 .rectanguloVerde{
    width: 180px;
    height: 15px;
    background-color: #c0d85c;
    margin-right: 10px;

 }
 .rectanguloVioleta{ 
    width: 275px;
    height: 15px;
    background-color: #b68bc1; 
 }
.productos__presentacion{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    
}
.productos__presentacion--item{
 display: flex;
flex-direction: column;
align-items: center;


}
.productos__img{
    width: auto;
    height: auto;
    max-width: 280px;
    max-height: 280px;
   
}
.productos__descrip{
    text-align: center;
    max-width: 150px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.productos__presentacion--itemBoxNaranja{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdc92;
    width: 330px;
    height: 330px;
    border: solid black 2px;
}
.productos__presentacion--itemBoxVioleta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b68bc1;
    width: 330px;
    height: 330px;
    border: solid black 2px;
}
.productos__presentacion--itemBoxVerde{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0d85c;
    width: 330px;
    height: 330px;
    border: solid black 2px;
}
.productos__presentacion--itemBoxRosa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fea4c7;
    width: 330px;
    height: 330px;
    border: solid black 2px;
}
/**
 *
 *  SECTION INFORMACION
 * -------------------------------------------------------------------
 */
 
#Informacion{
    display: flex;
    margin: 15px;
    justify-content: space-around;
}
.Informacion__primeraMitad{
    display: flex;
    width: 50%;
    max-height: 500px;
    margin-top: 70px;

}
.informacion__primeraMitad-cuidados{
    background-color:#fea4c7;
    font-size: 18px;
    border: solid black 2px;
    display: flex;
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    margin-right: 40px;
}
.informacion__primeraMitad-cuidados-texto{
    background-color:#fea4c7;
}
.informacion__primeraMitad-boxInfo{
display: flex;
flex-direction: column;
gap: 40px;
justify-content: space-between;
max-height: 500px;
}
.informacion__primeraMitad-boxInfo--boxAmarilla{
    background-color: #ffdc92;
    font-size: 15px;
    font-weight: 400;
    border: solid black 2px;
    height: 220px;
    display: flex;
    padding: 10px;
    align-items: center;
}
.informacion__primeraMitad-boxInfo--boxVerde{
    background-color: #c0d85c;
    font-size: 15px;
    font-weight: 400;
    border: solid black 2px;
    height: 220px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.Informacion__segundaMitad-inicio{
    display: flex;
    justify-content: center;
}
.Informaciom_segundaMitad__inicio-img{
    width: 12vw;
}
.Informacion__segundaMitad-rectangulos{
    display: flex;
    gap: 10px;
}
.Informacion__segundaMitad-Titulo{
display: flex;
flex-direction: column;
justify-content: center;
}
.Informacion__segundaMitad__titulo-text{
    font-size:38px ;
}
.Informacion__rectanguloVerde{
background-color: #c0d85c;
height: 15px;
width: 80px;
}
.Informacion__rectanguloVioleta{
    background-color: #b68bc1;
    height: 15px;
    width: 180px
}
.Informacion__segundaMitad-boxInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Informaciom_segundaMitad__boxInfo-titulo{
background-color:#b68bc1 ;
width: 30vw;
height: 8vw;
border: solid black 2px;
display: flex;
align-items: center;
justify-content: center;
}
.Informaciom_segundaMitad__boxInfo__titulo-text{
    background-color:#b68bc1 ;
    
}
.Informacion__segundaMitad__boxInfo-content{
    background-color: #fea4c7;
    margin: 20px 0px 20px 10px;
    width: 30vw;
    height: 200px;
    border: solid black 2px;
    display: flex;
    align-items: center;
}
.Informacion__segundaMitad__boxInfo__content-text{
font-size: 15px;
font-weight: 400;
background-color: #fea4c7;
text-align: center;
}
.Informacion__mitadInferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%
}
.Informacion__mitadInfeior-titulo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 80px;
   background-color: #b68bc1;
   border: solid black 2px;
}
.Informacion__mitadInfeior__titulo-text{
    background-color: #b68bc1;
}
.Informacion__mitadInferior__boxContenedor{
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Informacion__mitadInferior__box-textVerde{
    font-size: 16px;
    font-weight: 400;
    background-color: #c0d85c;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}
.Informacion__mitadInferior__box-textAmarillo{
    font-size: 16px;
    font-weight: 400;
    background-color: #ffdc92;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}
.Informacion__mitadInferior-boxAmarillo{
background-color: #ffdc92;

}
.Informacion__mitadInferior-boxVerde{
    background-color: #c0d85c;
    
}
/**
 *
 *  SECTION CONTACTO
 * -------------------------------------------------------------------
 */

 #Contacto{
    margin: 20px;
    display: flex;
    justify-content:space-around ;
 }
 .Contacto__primeraMitad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .Contacto__redesSociales-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: #fea4c7;
    border: solid black 2px;
    margin-bottom: 84px;
    margin-top: 50px;
 }
 .Contacto__redesSociales__Box-text{
    background-color: #fea4c7;
 }
 .Contacto__redesPresentacion{
    background-color: #ffdc92;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
 }
 .Contacto__redesPresentacion-SocialesIconos{
    background-color: #ffdc92;
    display: flex;
    flex-direction: column;
 }
 .fa-whatsapp-square{
    font-size: 60px;
    background-color: #ffdc92;
 }
 .fa-camera-retro{
    font-size: 60px;
    background-color: #ffdc92;
 }
 .fa-envelope{
    font-size: 60px;
    background-color: #ffdc92;
 }



 .Contacto__redesPresentacion-SocialesTextBox{
    display: flex;
    flex-direction: column;
    background-color: #ffdc92;
    gap: 40px;
 }
 .Contacto__redesPresentacion-SocialesTextBox-text{
    background-color: #ffdc92;
 }
 .Contacto__Logo{
    margin-top: 60px;
    margin-bottom: 58px;
    text-align: center;
 }
 .Contacto__Logo-img{
    display: flex;
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 400px;
 }
 .Contacto__SegundaMitad{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .Contacto__SegundaMitad-tituloBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 75px;
 }
 .Contacto__SegundaMitad_imagenTitulo{
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 10vw;
    max-width: 12vw;
    margin-right: 50px;
    margin-left: 50px;
 }
 
 .Contacto__SegundaMitad_imagenTitulo-text{
    font-size: 50px;
    
 }
 .Contacto__contenedores{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .Contacto__contenedorVioleta{
    background-color: #b68bc1;
    width: 90px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
 }
 .Contacto__contenedorVerde{
    background-color:#c0d85c;
    width: 160px;
    height: 15px;
 }
 .Contacto__consultasBox{
    margin-top: 40px;
    width: 700px;
    height: 100px;
    background-color: #fea4c7;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

 }
 .Contacto__consultasText{
    background-color: #fea4c7;
 }
form{
    background-color:#c0d85c ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 600px;
    padding: 50px;
    margin-bottom: 10px;
    border: solid black 2px;
    font-size: 18px;

}
.field{
    border: solid 2px;
    padding: 10px;
    font-size: 16px;
}
input, textarea{
    border: solid black 2px;
    border-radius: 5px;
    background-color: #ffffff;
}

.contactoFieldBox-checkbox-text{
    margin: 5px;
    text-align:left;
}
.consulta-text{
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
.contactoFieldBox-buttom{
    width: 120px;
    height: 40px;
    background-color: #fea4c7;
    font-weight: bold;
}

.contactoFieldBox-buttom-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/**
 *
 *  SECTION ENVIOS
 * -------------------------------------------------------------------
 */
 .Envios{
    margin: 10px;
    display: flex;
    justify-content: space-around;
 }
 .Envios__inicio{
    display: flex;
    align-items: center;
    gap: 90px;
    margin-bottom: 80px;
    justify-content: center;
 }
 .Envios__inicio-img{
    width: 10vw ;
 }

 .Envios__inicio-titulo{
    font-size: 48px;
 }
 .Envios__contenedores{
    display: flex;
 }
 .Envios__contenedorVerde{
    background-color: #c0d85c;
    width: 60px;
    height: 15px;
    margin-right: 10px;
 }
 .Envios__contenedorVioleta{
    background-color: #b68bc1;
    width: 110px;
    height: 15px;
 }

 .Envios__primeraParte{
    display: flex;
    flex-direction: column;
 }
 .Envios__primeraParte-Maps{
    width: 350px;
    height: 280px;
 }
 .Envios__primeraParte-MapsBoxVerde{
    width: 405px;
    height: 305px;
    background-color: #c0d85c;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    margin-bottom: 20px;
 }
 .Envios__primeraParte-MapsBoxAmarillo{
    width: 405px;
    height: 305px;
    background-color:#ffdc92;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}
.Envios__segundaParte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;

}
.Envios__segundaParteInfoVioleta{
    background-color: #b68bc1;
    width: 500px;
    height: 203px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.Envios__segundaParteInfoAmarilla{
    background-color: #ffdc92;
    width: 500px;
    height: 203px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.Envios__segundaParte-textInfo{
    font-weight: 400;
}
.Envios__segundaParte-titulo{
    width: 500px;
    height: 103px;
    background-color: #fea4c7;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Envios__terceraParte{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Envios__terceraParteTituloBox{
    width: 450px;
    height: 150px;
    background-color: #fea4c7;
    display: flex;
    justify-content:center;
    align-items: center;
    border: solid black 2px;
    margin-bottom: 100px;
}

.Envios__terceraParte__info{
    width: 550px;
    height: 300px;
    background-color: #c0d85c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: solid black 2px;
}
.Envios__terceraParte__info-Text{
    font-weight: 400;
}




